
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sens-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: skyblue;
}

.container{ 
    width: 450px;
    background: rgb(153, 73, 153);
    color: beige;
    height: 500px;
}

.container h1{
    text-align: center;
    font-size: 32px;
}

.container .text-box{
    width: 100%;
    height: 50px;
    background: rgb(223, 145, 145);
    margin: 30px 0;
}

.text-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
}
.text-box input::placeholder{
    color: white;
    font-size: 16px;
    padding-left: 10px;
}
.container .forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -10px 0 15px;
}

.container .register-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.remember{
    margin-left: 10px;
}
.container a:hover{
    color: white;
}
.btn{
    height: 40px;
    width: 100px;
    border-radius: 40px;
    background-color: aquamarine;
    border: none;
    color: black;
    font-size: 20px;
    margin-left: 10px;
}
.container button:hover{
    background-color: blueviolet;
    width: 150px;
    height: 50px;
    font-size: 20px
}

.container .text-box:hover{
    background: transparent;
    border: solid rgb(206, 117, 117);
    border-radius: 30px;
}

.register-link p:hover{
    color: black;
    font-size: 20px;
}
